{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="text-center mb-3">Login</h3>

                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}

                <form method="POST">
                    <input class="form-control mb-3" name="username" placeholder="Username" required>
                    <input class="form-control mb-3" type="password" name="password" placeholder="Password" required>

                    <button class="btn btn-primary w-100">Login</button>
                </form>

                <div class="text-center mt-3">
                    <a href="/register">สมัครสมาชิก</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
