{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="text-center mb-3">Register</h3>

                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}

                <form method="POST">
                    <label class="form-label">Username</label>
                    <input class="form-control mb-3" name="username" required>

                    <label class="form-label">Password</label>
                    <input class="form-control mb-3" type="password" name="password" required>

                    <label class="form-label">Confirm Password</label>
                    <input class="form-control mb-3" type="password" name="confirm_password" required>

                    <button class="btn btn-success w-100">📝 Register</button>
                </form>

                <div class="text-center mt-3">
                    <a href="{{ url_for('login') }}">กลับหน้า Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
